*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #000000 ;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: #7e1f7b;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.pantalla{
    grid-column: 1 / -1;
    background-color: #291f35;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: monospace;
    font-weight: 600;
}

.btn{
    background-color: #a8aac5;
    color: rgb(21, 19, 19);
    font-weight: bold;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #090c31;
}

#igual{
    grid-row: span 2;
    background-color: rgb(226, 136, 136);
}

#igual:hover{background-color:rgb(208, 157, 157) ;

}
